.navbar ul {
    list-style-type: none;
    background-color: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(40, 40, 40);
}

.navbar li {
    float: left;
}

footer {
    background-color: #333;
    color: white;
    position: sticky;
    text-align: center;
    padding: 20px;

    bottom: 0;
    width: 100%;
}

p {

    text-align: center;

}

h2 {
    text-align: center;
}

.center {
    text-align: center;
}